################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/BceDotNetSdk/bin/Debug
/BceDotNetSdk/obj/Debug
/BOS.Test2/obj
/BOS.Test2/bin/Debug/netcoreapp2.2
/packages
/.vs/BOS.Test/v16
